<header class="main-header">
    <nav class="header-container">
        <div class="header-container-left">
            <!--Boton del logo-->
            <div>
                <a href="../index.php" class="header-logo">
                    <img src="../assets/images/logo.png" alt="Logo Veterinaria Dra.Huellitas">
                    <span>Veterinaria <br><strong>Dra.Huellitas</strong></span>
                </a>
            </div>
            <!--Barra de busqueda-->
            <div class="header-search">
                <input type="text" id="header-search" placeholder="Buscar">
                <i class="bi bi-search"></i>
            </div>
            <!--Boton de nuestra Ubicación-->
            <div>
                <a href="../pages/location.php" class="header-vet-location">
                    <i class="bi bi-geo-alt"></i>
                    <div>
                        <span>Nuestra<br><strong>Ubicación</strong></span>
                    </div>
                </a>
            </div>
            <!--Boton de carrito-->
            <div class="header-cart">
                <div>
                    <a class="btn-orange" href="../pages/cart.php">Carrito <i class="bi bi-cart"></i></a>
                </div>
            </div>
        </div>

        <!--Botones de Login, registro e info del usuario-->
        <div class="header-container-right">
            <?php if (isset($_SESSION['first_name'])): ?>
                <div class="header-user">
                    <span>Bienvenido!</span>
                    <h3> <?php echo $_SESSION['first_name'];
                    echo " ";
                    echo $_SESSION['second_name']; ?></h3>
                </div>
                <div>
                    <button class="header-user-img" id="header-user-img">
                        <i class="bi bi-person-fill"></i>
                    </button>
                    <!---->
                    <div class="header-user-menu" id="header-user-menu">
                        <ul>
                            <li><a href="profile.php">Pefil</a></li>
                            <li><a href="myOrders.php">Mis pedidos</a></li>
                            <li><a href="../processes/logout.php" style="color: red;">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </div>
            <?php else: ?>
                <div class="header-login">
                    <div>
                        <a class="btn-blue" id="btnLogin" href="#">Iniciar Sesión</a>
                    </div>
                </div>
                <div class="header-register"></div>
                <div>
                    <a class="btn-dark-blue" id="btnRegister" href="#">Registrarse</a>
                </div>
            <?php endif; ?>
        </div>
    </nav>
    <!--Barra de navegación-->
    <nav class="navbar-container">
        <ul class="navbar-nav">
            <li><a href="../index.php">Inicio</a></li>
            <li><a href="Procuto.php">Productos</a></li>
            <li><a href="advices.php">Consejos</a></li>
            <li><a href="aboutUs.php">Sobre Nosotros</a></li>
            <li><a href="processes/logout.php">Cerrar Sesion</a></li>
        </ul>
    </nav>
</header>