<head>
    <meta charset="UTF-8">
    <meta meta="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria Dra.Huellitas</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/font/bootstrap-icons.css">
</head>